#container{
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-family: Cambria, "Gerogia", serif;
    color: #54433e;
}

body {
    background-color: #f7f5e9;
    text-align: center; 
}

p{
    color: #61514d;
    font-family: Helvetica, Arial, sans-serif;
}



#nav a:link, a:visited {
    display:block;
    color: #334534;
    background-color: #739472;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}


#nav a:hover, a:active {
    background-color: #93ab4b;
}

#nav {
    list-style-type: none;
    padding: 0;
}

#nav li{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
