

.header{
    font-family:"Playfair Display", Cambria, "Georgia", serif;
    color: #54433e;
    font-size: 30px
}

.main{
    color: #61514d;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
  }
body {
    background-color: #f7f5e9;
    text-align: center; 
}

p{
    color: #61514d;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}


.navigation{
  list-style: none;
  background: gray;
  margin:0;
  padding: 0px;
  display: flex;
  flex-flow:column;

}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
  
}


.navigation li:last-of-type a{
  border-bottom: none;
  
  
}

@media (min-width:1000px){
.navigation{
  flex-flow: row wrap;
  justify-content: space-between;
}

.navigation a{
  border-top:none;
  border-bottom:none;
}
.navigation a:hover{
  background:black;
}

.first {
  margin-right: auto;
}

.main{
  display:flex;
  flex-flow:row;
}

.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}

@media (min-width: 800px){
  .aside{
    flex: 1 auto;
  }

  .main {
    flex: 3 0px;
  }

.main{
  text-align: left;
}

 .aside-1{
    order:1;
  }
  .main{
    order: 2;
  }
  .aside-2{
    order: 3;
      }
  .footer{
    order: 4;
  }
}

body {
  padding: 2em;
}
